#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DEMBED_TRANSLATIONS=ON -DBUILD_TESTING=ON \
		-DCMAKE_INSTALL_FULL_LIBDIR=/usr/lib/x86_64-linux-gnu \
		-DINSTALL_QMLDIR=/usr/lib/x86_64-linux-gnu/qt6/qml

override_dh_auto_install:
	dh_auto_install --destdir=debian/libcutefish/
	# CMake的qt6_add_qml_module应该会自动安装QML插件
	# 这里不需要手动安装，让CMake处理
